:root{
	--blanco: #fff;
	--gris: #222f3e;
}

body{
	font-family: 'Roboto', sans-serif;
	background-color: var(--blanco);
	color: #222f3e;
	margin: 0;
	padding: 0;
	width: 100%	
}

.nav{
	padding: 1em 2em;
	background-color: #222f3e;
	color: #222f3e;
	position: sticky;
	top: 0;
	z-index: 200;
}
.nav__list{
	display: flex;
	justify-content: space-between;
}
.nav__link{
	text-decoration: none;
	color: #222f3e;

}
.nav__list-item{
	display: inline-block;
	padding: 1em 1.7em;
	border-radius: 7px;
}
.nav__list-item:hover {
	background-color: #4478cf;
	transition: 1s;
}
.nav__list-item:not(:hover) {
	background-color: #4f98f0;
	transition: 1s;
}

.header{
	max-width: 100%;
	padding: 12em 0;
	background-image: url("../img/header.jpg");
	background-size: cover;
	color: #fff;
	display: flex;
	justify-content: center; 
}
.header__title{
	font-size: 3em;

}
.header__subt{
	display: flex;
	justify-content: center;
	font-size: 1.5em;
	margin-top: -1em;
}
.header__txt{
	margin-left: 5px;
	margin-top: -0.2em
}

/*.container{
	margin: 2em;
}*/

.about{
	display: flex;
	flex-wrap: wrap;
	background-color: var(--gris);
	color: #fff;
	padding: 7em;
	justify-content: space-around;
}

.about-text{
	min-width: 400px;
	max-width: 400px;
	font-size: 18px;
}
.icon{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.icon-icon{
	font-size: 12em
}
.icon-title{
	font-size: 22px;
	text-align: center;
}

.section{
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding-top: 9em;
	padding-bottom: 9em;
	background-color: #222f3e;
	color: white;
}
.section__title{
	font-size: 2em;
	line-height: 2em;
	text-align: center;
}
.section__text{
	width: 30%;
	text-align: right;
}
.grande-icon{
	font-size: 12em;
	margin:auto;
	padding: 0 15%
}

.img-habi{
	height: 200px;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px; 
}

.subtitle{
	text-align: center;
	font-size: 2em;
	margin-top: 2em;
	margin-bottom: -2em;
	color: #222f3e;
}
.subtitle-000{
	background-color: #222f3e;
	color: white;
	padding-top: 2em;
	margin-bottom: -2em;
	text-align: center;
}

.bg{
	background-color: #222f3e
}

.cortar{
	margin-top: -15em;
}

.container-card{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.card{
	background-color: #222f3e;
	color:white;
	border-radius: 10px;
	align-items:center;
	max-width: 23em;
	min-width: 23em;
	margin: 2em 0em;
	position: relative;
    display: inline-block;
    text-align: center;
    box-shadow: 4px 1px 10px #222f3e;

}
.card:hover{
	transform: scale(1.1);
	transition: 0.7s;

}
.card:hover .card__title{
	visibility: visible;
	transition: 1s;
	padding: 0.5em 1em;
	background-color: #222f3e;
	color:white;
	border-radius: 10px;
	outline: solid;
	outline-offset: 1em
	
}
.card:not(:hover) .card__title{
	visibility: hidden;
	transition: 1s;
	color:white;
	outline-offset: 0; 
	
}
.card:not(:hover){
	transform: scale(1.0);
	transition: 0.7s
}
.card__title{
	text-align: center;
	font-size: 1.5em;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	visibility: hidden;
	
}
.card__text{
	margin: 1.5em 2em;
	text-align: left;
}

/*.line{
	border-bottom: 2px double #76f57d;
}*/

.bg-fff{
	background-color:var(--blanco);
	color: #222f3e;
}

.img-small{
	height: 200px;
	width: 100%;
	border-radius: 4px
}

.service{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 6em;
	background-color: #222f3e;
	color: white;
}

.service__card{
	align-items: center;
	margin: 0 1em;
	border-left: 2px solid #4f98f0;
	padding: 0 1em;
	max-width: 310px;
	margin-top: 1em;
}
.service__title{
	line-height: 3em;
}

.footer{
	padding: 1em;
	text-align: center;
	font-size: 1.4em;
	background-color: #222f3e;
	color:white;
}

.center{
	text-align: center;
	font-size: 1.4em;
	text-decoration: none;
	color:#222f3e;
}
.center:hover{
	transform: scale(1.1);
	transition: 0.7s;
}
.center:not(:hover){
	transform: scale(1.0);
	transition: 0.7s;
}
.center-p{
	padding-top: 1em
}

.cum{
	padding-bottom: 5em
}

.flex{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

@media screen and (max-width: 600px){

	.nav{
		margin-left: -20px
	}
	.nav__list-item{
	padding: 0.5em;
	border-radius: 7px;
	margin-left: 5px;
	}

	.nav__list{
		padding-inline-start: 0px;
	}
	.service-card{
		min-width: 300px;
		max-width: 300px;
	}

	.flex{
		flex-direction: column;
	}
	.header__title{
		font-size: 2.2em
	}
	.about-text{
		min-width: 300px
	}

	.card{
		min-width: 300px;
		max-width: 300px;
	}

	.service{
		padding-left: 1em;
		padding-right: 1em;
	}

	.footer{
		padding: 0.5em;
	}
}